a {
    color: aquamarine;
    font-size: 16px;
}

body {
    background-color: black;
    text-align: center;
    font-family: verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-size: 21px;
    color: grey;
}

.video {
    padding-top: 20px;
}
